{% extends 'accounts/base.html' %}

{% block page_title %}May Bank - Forgot Password{% endblock %}
{% block head_title %}Forgot Password{% endblock %}
{% block corner_login_register_logout %}
<i class="fa fa-fingerprint fa-lg"><a href="{% url 'accounts:user_login' %}"></a></i>
<a href="{% url 'accounts:user_login' %}">Login</a>
{% endblock %}
{% block form %}
<form action="." method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div class="input_element_login">
        <div class="input_element_login_label">{{ form.email.label }}</div>
        <input class="input_element_login_input" name="email" id="{{ form.email.id_for_label }}" type="{{ form.email.widget_type }}" placeholder="{{ form.email.label }}">
    </div>
    <button class="form_submit_button_login" type="submit">Request password reset</button>
</form>
{% endblock %}
{% block body_button %}<a href="{% url 'accounts:user_login' %}">Existing user?..Login</a>{% endblock %}