{% extends 'accounts/base.html' %}
{% block page_title %}May Bank - Forgot Password{% endblock %}
{% block head_title %}Forgot Password{% endblock %}
{% block corner_login_register_logout %}
<i class="fa fa-fingerprint fa-lg"><a href="{% url 'accounts:user_login' %}"></a></i>
<a href="{% url 'accounts:user_login' %}">Login</a>
{% endblock %}
{% block form %}
<h2>
    We have emailed you, the instructions for password reset.
    If you have not receive any email, please make sure you've entered the
    address you registered with.
</h2>
{% endblock %}
{% block body_button %}<a href="{% url 'accounts:user_login' %}">Existing user?..Login</a>{% endblock %}