{% extends 'accounts/base.html' %}
{% block page_title %}May Bank - Forgot Password{% endblock %}
{% block head_title %}Forgot Password{% endblock %}
{% block corner_login_register_logout %}
<i class="fa fa-fingerprint fa-lg"><a href="{% url 'accounts:user_login' %}"></a></i>
<a href="{% url 'accounts:user_login' %}">Login</a>
{% endblock %}
{% block form %}
    {% if validlink %}
    <h2>Please enter your new password</h2>
    <form class="form_class" action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="form_submit_button_login" type="submit">Change my password</button>
    <!-- <p><input type="submit" value="Change my password" /></p> -->
    </form>
    {% else %}
    <h2>
        Link Invalid, Link might have been already used or your may not be the registered user.
        Please Initiate the password reset process again
    </h2>
        <p>The password reset link was invalid, possibly because it has
         already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
{% block body_button %}<a href="{% url 'accounts:user_login' %}">Existing user?..Login</a>{% endblock %}