{% extends 'accounts/base.html' %}

{% block page_title %}May Bank - Login{% endblock %}
{% block head_title %}Login{% endblock %}
{% block corner_login_register_logout %}
<i class="fa fa-light fa-users"><a href="{% url 'accounts:user_registration' %}"></a></i>
<a href="{% url 'accounts:user_registration' %}">Register</a>
{% endblock %}
{% block form %}
<form method="post">
    {% csrf_token %}
    {% for hidden_field in login_form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div class="input_element_login">
        <div class="input_element_login_label">{{ login_form.email.label }}</div>
        <input class="input_element_login_input" name="email" id="{{ login_form.email.id_for_label }}" type="{{ login_form.email.widget_type }}">
    </div>
    <div class="input_element_login">
        <div class="input_element_login_label">{{ login_form.password.label }}</div>
        <input class="input_element_login_input" name="password" id="{{ login_form.password.id_for_label }}" type="password">
    </div>
    <div class="input_element_login">
        <div class="input_element_login_label">{{ login_form.captcha.label }}</div>
            {{ login_form.captcha }}
    </div>
    <button class="form_submit_button_login" type="submit">Login</button>
    <div class="forgot_password_link">
        <a href="{% url 'password_reset' %}">Forgot password?...Click here to reset</a>
    </div>
    <div class="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
</form>
{% endblock %}
{% block body_button %}<a href="{% url 'accounts:user_registration' %}">Open New Savings Account</a>{% endblock %}
