{% load static %}
{% block head_extra %}
<style>
    /* Dropdown Button */
.dropbtn {
  color: white;
  padding: 4px;
  margin-right: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{% endblock %}

<nav class="flex items-center justify-between flex-wrap p-6" style="background-image: radial-gradient( circle 759px at -6.7% 50%, #0f0c29, #302b63, #24243e);">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img src="{% static "logo.png" %}" alt="logo" style="height: 40px;">
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        {% if request.user.is_authenticated %}
            <div class="text-md lg:flex-grow">
                <a href="{% url 'transactions:profile' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-5">
                    Overview
                </a>
                <a href="{% url 'transactions:transaction_report' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
                    Transactions
                </a>
                <div class="dropdown">
                    <button class="dropbtn">Money Transfer</button>
                    <div class="dropdown-content">
                        <a href="{% url 'transactions:money_transfer_imps' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">IMPS</a>
                        <a href="{% url 'transactions:money_transfer_rtgs' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">RTGS</a>
                        <a href="{% url 'transactions:money_transfer_neft' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">NEFT</a>
                        <a href="{% url 'transactions:money_transfer_upi' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">UPI Transactions</a>
                        <a href="{% url 'transactions:money_transfer_request_funds' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">Request Funds</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Loans</button>
                    <div class="dropdown-content">
                        <a href="{% url 'transactions:loans' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">Home Loan</a>
                        <a href="{% url 'transactions:loans' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">Auto Loan</a>
                        <a href="{% url 'transactions:loans' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">Personal Loan</a>
                        <a href="{% url 'transactions:loans' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white">Other Loans</a>
                    </div>
                </div>
            </div>
            <div>
                <a href="{% url 'accounts:user_logout' %}" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Logout</a>
            </div>
        {% endif %}
    </div>
</nav>
