{% extends 'transactions/transaction_form.html' %}
{% block head_title %}UPI Mode{% endblock %}
{% block content %}
<div class="main_container">
    <div class="sidenav">
        <div class="nav_item">
            <a href="{% url 'transactions:money_transfer_imps' %}">IMPS</a>
        </div>
        <div class="nav_item">
            <a href="{% url 'transactions:money_transfer_rtgs' %}">RTGS</a>
        </div>
        <div class="nav_item">
            <a href="{% url 'transactions:money_transfer_neft' %}">NEFT</a>
        </div>
        <div class="nav_item_active">
            <a href="{% url 'transactions:money_transfer_upi' %}">UPI</a>
        </div>
        <div class="nav_item">
            <a href="{% url 'transactions:money_transfer_request_funds' %}">Request Funds</a>
        </div>
    </div>
    <div class="right_container">
        <div class="form_class">
            <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10"> UPI Mode Money Transfer</h1>
<hr />
<div class="w-full mt-5">
    <form method="" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="upi_id">
                UPI ID
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="upi_id" id="upi_id" required placeholder="UPI ID">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Amount
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="amount" id="amount" type="number" required placeholder="Amount">
        </div>
        {% if form.amount.errors %}
            {% for error in form.amount.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% if form.to_account_no.errors %}
        {% for error in form.to_account_no.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <button class="bg-gray-400  text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            UPI IS NOT YET ENABLED
        </button>
    </form>
</div>
        </div>
        <div class="balance_card">
            <h4>Account No: {{ user.account.account_no }}</h4>
            <h2>Available Balance</h2>
            <h1>{{ user.account.balance }} RM</h1>
        </div>
    </div>
</div>
{% endblock %}